---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource.tf") }}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

~> "idpAdapterId|spAdapterId" is a composite ID, that should be the adapter id of the Idp adapter concatenated with the adapter id of the SP adapter, separated by a pipe character.

{{ codefile "shell" (printf "%s%s%s" "examples/resources/" .Name "/import.sh") }}