---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

!> The pingfederate_key_pair_signing_import resource is deprecated and will be removed in a future release. Use the pingfederate_keypairs_signing_key resource instead.

## Example Usage

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource.tf") }}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

~> "keyPairsSigningImportId" should be the id of the Signing Key Pair to be imported

{{ codefile "shell" (printf "%s%s%s" "examples/resources/" .Name "/import.sh") }}