---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage - importing existing key

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource.tf") }}

## Example Usage - generate key

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource-generate.tf") }}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

~> "key_id" should be the id of the Signing Key Pair to be imported

{{ codefile "shell" (printf "%s%s%s" "examples/resources/" .Name "/import.sh") }}