---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

!> The `pingfederate_local_identity_identity_profile` resource has been renamed and will be removed in a future release. Use the `pingfederate_local_identity_profile` resource instead.

## Example Usage

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource.tf") }}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

~> "profileId" should be the id of the Local Identity Profile to be imported

{{ codefile "shell" (printf "%s%s%s" "examples/resources/" .Name "/import.sh") }}