---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage - Authorization Code with PKCE

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource-acwp.tf") }}

## Example Usage - Authorization Code

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource-ac.tf") }}

## Example Usage - Client Credentials

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource-cc.tf") }}

## Example Usage - Device Flow

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource-df.tf") }}

## Example Usage - Resource Server

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource-rs.tf") }}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

~> "oauthClientId" should be the id of the OAuth Client to be imported

{{ codefile "shell" (printf "%s%s%s" "examples/resources/" .Name "/import.sh") }}