---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

~> This resource depends on the `pingfederate_extended_properties` resource. Use `depends_on` when configuring both resources to ensure changes to this resource occur after any changes to `pingfederate_extended_properties`. Failure to do this may result in unexpected plans and extended properties remaining unapplied.

## Example Usage

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource.tf") }}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

~> This resource is singleton, so the value of "id" doesn't matter - it is just a placeholder, and required by Terraform

{{ codefile "shell" (printf "%s%s%s" "examples/resources/" .Name "/import.sh") }}