---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage - Internally Managed Reference Tokens

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource-opaque.tf") }}

## Example Usage - JWT Tokens

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource-jwt.tf") }}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}
## Import

Import is supported using the following syntax:

{{ codefile "shell" (printf "%s%s%s" "examples/resources/" .Name "/import.sh") }}
{{- end }}
