---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage - LDAP Username Password Credential Validator

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/ldap-username-validator.tf") }}

## Example Usage - PingID Password Credential Validator

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/pingid-validator.tf") }}

## Example Usage - PingOne for Customers Password Credential Validator

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/pingone-for-customers-validator.tf") }}

## Example Usage - PingOne for Enterprise Password Credential Validator

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/pingone-for-enterprise-validator.tf") }}

## Example Usage - Radius Username Password Credential Validator

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/radius-username-validator.tf") }}

## Example Usage - Simple Username Password Credential Validator

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/simple-username-validator.tf") }}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

~> "passwordCredentialValidatorId" should be the id of the Password Credential Validator to be imported

{{ codefile "shell" (printf "%s%s%s" "examples/resources/" .Name "/import.sh") }}