---
page_title: "Provider: PingFederate"
description: |-
  The PingFederate provider is used to manage the configuration of a PingFederate server.
---

# PingFederate Provider

The PingFederate provider manages the configuration of a PingFederate server.

## PingFederate Version Support

The PingFederate provider supports versions `11.2` through `12.0` of PingFederate.

## Documentation
Detailed documentation on PingFederate can be found in the [online docs](https://docs.pingidentity.com/r/en-us/pingfederate-112/pf_pingfederate_landing_page)
### Example Usage of PingFederate Provider
{{ tffile "examples/simple-examples/main.tf" }}

### Custom User Agent information

The PingFederate provider allows custom information to be appended to the default user agent string (that includes Terraform provider version information) by setting the `PINGFEDERATE_TF_APPEND_USER_AGENT` environment variable.  This can be useful when troubleshooting issues with Ping Identity Support, or adding context to HTTP requests.

```shell
export PINGFEDERATE_TF_APPEND_USER_AGENT="Jenkins/2.426.2"
```

{{ .SchemaMarkdown | trimspace }}
