---
page_title: "Provider: PingFederate"
description: |-
  The PingFederate provider is used to manage the configuration of a PingFederate server.
---

# PingFederate Provider

The PingFederate provider manages the configuration of a PingFederate server.

# Disclaimer - Provider in Development
The PingFederate Terraform provider is under active development. As such, consumers must have flexibility for breaking changes until the `1.0.0` release. When using the PingFederate Terraform Provider within an automated pipeline prior to `1.0.0`, it is recommended to pin the provider version similar to `version = "~> 0.5.0"` to avoid experiencing an unexpected pipeline failure as the result of a provider change. Enhancements, bug fixes, notes and breaking changes can be found on the [Changelog](CHANGELOG.md). If issues are found, please raise a [github issue](https://github.com/pingidentity/terraform-provider-pingfederate/issues/new?assignees=&labels=bug&projects=&template=bug_report.md&title=) on this project.

## PingFederate Version Support

The PingFederate provider supports versions `11.2` through `12.1` of PingFederate.

## Documentation
Detailed documentation on PingFederate can be found in the [online docs](https://docs.pingidentity.com/r/en-us/pingfederate-112/pf_pingfederate_landing_page)
### Simple Example using basic authentication with a resource
{{ tffile "examples/doc-examples/simple-example.tf" }}

### When using basic authentication, `username` and `password` must be defined in the `provider` block
{{ tffile "examples/doc-examples/basic-auth.tf" }}

### When using OAuth2 Client Credentials flow authentication, `client_id`, `client_secret`, and `token_url` are required, while `scopes` is optional in the `provider` block
{{ tffile "examples/doc-examples/oauth2.tf" }}

### When using Access Token authentication, `access_token` is required in the `provider` block
{{ tffile "examples/doc-examples/access-token.tf" }}

### Custom User Agent information

The PingFederate provider allows custom information to be appended to the default user agent string (that includes Terraform provider version information) by setting the `PINGFEDERATE_TF_APPEND_USER_AGENT` environment variable.  This can be useful when troubleshooting issues with Ping Identity Support, or adding context to HTTP requests.

```shell
export PINGFEDERATE_TF_APPEND_USER_AGENT="Jenkins/2.426.2"
```

{{ .SchemaMarkdown | trimspace }}
