---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

!> The pingfederate_key_pair_ssl_server_import data source is deprecated and will be removed in a future release. Use the pingfederate_keypairs_ssl_server_key data source instead.

## Example Usage

{{ tffile (printf "%s%s%s" "examples/data-sources/" .Name "/data-source.tf") }}

{{ .SchemaMarkdown | trimspace }}
