---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

!> The pingfederate_oauth_auth_server_settings_scopes_exclusive_scope data source is deprecated and will be removed in a future release. Use the pingfederate_oauth_auth_server_settings data source instead.

## Example Usage

{{ tffile (printf "%s%s%s" "examples/data-sources/" .Name "/data-source.tf") }}

{{ .SchemaMarkdown | trimspace }}
