---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

!> The `pingfederate_oauth_open_id_connect_policy` data source has been renamed and will be removed in a future release. Use the `pingfederate_openid_connect_policy` data source instead.

## Example Usage

{{ tffile (printf "%s%s%s" "examples/data-sources/" .Name "/data-source.tf") }}

{{ .SchemaMarkdown | trimspace }}
