name: Code Check and Acceptance Tests

on:
  pull_request:
    paths:
      - ".github/workflows/code-check-and-tests.yaml"
      - "**.go"
      - "go.mod"
      - "go.sum"
      - "Makefile"
  push:
    branches:
      - "main"

permissions:
  contents: read

jobs:
  # Ensure the project can build first
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
          cache: true
      - name: Get dependencies
        run: |
          go mod tidy
          git diff --compact-summary --exit-code || \
            (echo; echo "Unexpected difference after 'go mod tidy'. Run 'go mod tidy' command and commit."; exit 1)
      - name: Build
        run: |
          make install
  fmt:
    name: go fmt
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
          cache: true
      - run: |
          if [ "$(go fmt ./... | wc -l)" -gt 0 ]; then
            echo "::error::'go fmt' found required formatting changes. Run 'make fmt' on your branch."
            exit 1;
          fi
  vet:
    name: go vet
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
          cache: true
      - run: go vet ./...
  lint:
    name: golangcli-lint
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
          cache: true
      - run: make golangcilint
  generate:
    name: go generate
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
          cache: true
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.11.*"
          terraform_wrapper: false
      # Use git add -N . to ensure that new files are listed in the git diff check
      - run: |
          go generate ./...
          git add -N .
          git diff --exit-code || \
            (echo; echo "Unexpected difference after code generation. Run 'make generate' command and commit."; exit 1)
  importfmt:
    name: importfmt
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
          cache: true
      - run: make importfmtlint
  tfproviderlint:
    name: tfproviderlintx
    needs: [fmt, vet, lint, generate, importfmt]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
          cache: true
      - run: make tfproviderlint
  tflint:
    name: tflint
    needs: [fmt, vet, lint, generate, importfmt]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
          cache: true
      - run: make tflint
  terrafmt:
    name: terrafmt
    needs: [fmt, vet, lint, generate, importfmt]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
          cache: true
      - run: |
          find ./internal/acctest -type f -name '*_test.go' \
          | sort -u \
          | xargs -I {} go tool terrafmt diff -f --check --fmtcompat {} ; if [ $$? -ne 0 ]; then \
          echo ""; \
          echo "terrafmt found bad formatting of HCL embedded in the test scripts. Please run "; \
          echo "\"make terrafmtlint\" before submitting the code for review."; \
          exit 1; \
          fi
  acceptanceclustered:
    name: Acceptance Tests for Clustered Console
    needs:
      [fmt, vet, lint, generate, importfmt, tfproviderlint, tflint, terrafmt]
    if: ${{ github.actor != 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
          cache: true
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.11.*"
          terraform_wrapper: false
      - run: mkdir -p $HOME/.pingidentity/ && echo "$CONFIG" >> $HOME/.pingidentity/config && grep -E "[a-zA-Z]" $HOME/.pingidentity/config || exit 1 && make spincontainer && make testaccclustered && make removetestcontainer
        env:
          TF_ACC: "1"
          CONFIG: ${{ secrets.Config }}
          OPERATIONAL_MODE: "CLUSTERED_CONSOLE"
  acceptanceoauth:
    name: Acceptance Tests for OAuth Provider Authentication
    needs:
      [fmt, vet, lint, generate, importfmt, tfproviderlint, tflint, terrafmt]
    if: ${{ github.actor != 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
          cache: true
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.11.*"
          terraform_wrapper: false
      - run: mkdir -p $HOME/.pingidentity/ && echo "$CONFIG" >> $HOME/.pingidentity/config && grep -E "[a-zA-Z]" $HOME/.pingidentity/config || exit 1 && make spincontainer && make testauthacc && make removetestcontainer
        env:
          TF_ACC: "1"
          CONFIG: ${{ secrets.Config }}
          DATA_JSON_SUFFIX: ".oauth"
  acceptance:
    name: Acceptance Tests
    needs:
      [fmt, vet, lint, generate, importfmt, tfproviderlint, tflint, terrafmt]
    if: ${{ github.actor != 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
          cache: true
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.11.*"
          terraform_wrapper: false
      - run: mkdir -p $HOME/.pingidentity/ && echo "$CONFIG" >> $HOME/.pingidentity/config && grep -E "[a-zA-Z]" $HOME/.pingidentity/config || exit 1 && make testacccomplete && make removetestcontainer
        env:
          TF_ACC: "1"
          CONFIG: ${{ secrets.Config }}
          PF_TF_P1_CONNECTION_ID: ${{ secrets.PF_TF_P1_CONNECTION_ID }}
          PF_TF_P1_CONNECTION_ENV_ID: ${{ secrets.PF_TF_P1_CONNECTION_ENV_ID }}
          PF_TF_P1_LDAP_GATEWAY_ID: ${{ secrets.PF_TF_P1_LDAP_GATEWAY_ID }}
          PF_TF_ACC_TEST_CERTIFICATE_CA_FILE_DATA_1: ${{ secrets.PF_TF_ACC_TEST_CERTIFICATE_CA_FILE_DATA_1 }}
          PF_TF_ACC_TEST_CERTIFICATE_CA_FILE_DATA_2: ${{ secrets.PF_TF_ACC_TEST_CERTIFICATE_CA_FILE_DATA_2 }}
          PF_TF_ACC_TEST_SIGNING_KEY_KEYSTORE_1: ${{ secrets.PF_TF_ACC_TEST_SIGNING_KEY_KEYSTORE_1 }}
          PF_TF_ACC_TEST_SIGNING_KEY_KEYSTORE_2: ${{ secrets.PF_TF_ACC_TEST_SIGNING_KEY_KEYSTORE_2 }}
          PF_TF_ACC_TEST_LICENSE_11: ${{ secrets.PF_TF_ACC_TEST_LICENSE_11 }}
          PF_TF_ACC_TEST_LICENSE_12: ${{ secrets.PF_TF_ACC_TEST_LICENSE_12 }}
          PF_TF_P1_POPULATION_ID: ${{ secrets.PF_TF_P1_POPULATION_ID }}
          PF_TF_ACC_TEST_PING_ONE_CONNECTION_CREDENTIAL_DATA: ${{ secrets.PF_TF_ACC_TEST_PING_ONE_CONNECTION_CREDENTIAL_DATA }}
          PF_TF_P1_EXAMPLE_OAUTH_APP_ID: ${{ secrets.PF_TF_P1_EXAMPLE_OAUTH_APP_ID }}
