name: Scheduled Acceptance Tests

on:
  workflow_dispatch:
  schedule:
    - cron: "0 7 * * *"

jobs:
  acceptance:
    name: Acceptance Tests
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        terraform:
          - "1.4.*"
          - "1.5.*"
          - "1.6.*"
        # Cover oldest and newest patch release of the major-minor releases we support
        pingfederate:
          - "11.2.7"
          - "11.3.0"
          - "11.3.7"
          - "12.0.3"
          - "12.1.0"
      max-parallel: 1
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
          cache: true
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ matrix.terraform }}
          terraform_wrapper: false
      - run: mkdir -p $HOME/.pingidentity/ && echo "$CONFIG" >> $HOME/.pingidentity/config && grep -E "[a-zA-Z]" $HOME/.pingidentity/config || exit 1 && make testacccomplete && make removetestcontainer
        env:
          TF_ACC: "1"
          CONFIG: ${{ secrets.Config }}
          PF_TF_P1_CONNECTION_ID: ${{ secrets.PF_TF_P1_CONNECTION_ID }}
          PF_TF_P1_CONNECTION_ENV_ID: ${{ secrets.PF_TF_P1_CONNECTION_ENV_ID }}
          PF_TF_P1_LDAP_GATEWAY_ID: ${{ secrets.PF_TF_P1_LDAP_GATEWAY_ID }}
          PF_TF_ACC_TEST_CERTIFICATE_CA_FILE_DATA_1: ${{ secrets.PF_TF_ACC_TEST_CERTIFICATE_CA_FILE_DATA_1 }}
          PF_TF_ACC_TEST_CERTIFICATE_CA_FILE_DATA_2: ${{ secrets.PF_TF_ACC_TEST_CERTIFICATE_CA_FILE_DATA_2 }}
          PINGFEDERATE_PROVIDER_PRODUCT_VERSION: ${{ matrix.pingfederate }}
          PF_TF_ACC_TEST_LICENSE_11: ${{ secrets.PF_TF_ACC_TEST_LICENSE_11 }}
          PF_TF_ACC_TEST_LICENSE_12: ${{ secrets.PF_TF_ACC_TEST_LICENSE_12 }}
          PF_TF_P1_POPULATION_ID: ${{ secrets.PF_TF_P1_POPULATION_ID }}
          PF_TF_ACC_TEST_PING_ONE_CONNECTION_CREDENTIAL_DATA: ${{ secrets.PF_TF_ACC_TEST_PING_ONE_CONNECTION_CREDENTIAL_DATA }}
          PF_TF_ACC_TEST_CSR_RESPONSE_1: ${{ secrets.PF_TF_ACC_TEST_CSR_RESPONSE_1 }}
          PF_TF_ACC_TEST_CSR_RESPONSE_2: ${{ secrets.PF_TF_ACC_TEST_CSR_RESPONSE_2 }}
          PF_TF_ACC_TEST_CA_CERTIFICATE: ${{ secrets.PF_TF_ACC_TEST_CA_CERTIFICATE }}
